@import "src/styles.scss";

.footer {
  padding: 2%;
  height: 40vh;
  background: $supplement-color;
  color: $main-color;

  p {
    padding: 2%;

    a {
      color: $accent-color;
      text-decoration: none;
      font-size: 1.1rem;
    }
  }
}
