<article>

  <header>
    <h1>SEARCH ARTICLES ABOUT BOOKS IN NEY YORK TIMES</h1>
  </header>

  <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)">
    <!-- target.value -->
    <label>
      <input formControlName="searchValue" type="text" maxlength="20" />
    </label>
    <!-- target.type -->
    <input formControlName="searchTarget" type="radio" id="author" name="searchTarget" value="author">
    <label for="author">Author</label>

    <input formControlName="searchTarget" type="radio" id="isbn" name="searchTarget" value="isbn" >
    <label for="isbn">ISBN Number</label>

    <input formControlName="searchTarget" type="radio" id="title" name="searchTarget" value="title" >
    <label for="title">Title</label>

    <button type="submit">Search</button>
  </form>

<!-- if statement here -->
  <div *ngIf="foundBooks !== undefined; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <ul>
      <li *ngFor="let book of foundBooks">
        <h1>{{book.book_title}}</h1>
        <p>by {{book.byline}}</p>
        <p>{{book.summary}}</p>
        <a href="{{book.url}}" target="_blank">To Article</a>
      </li>
    </ul>
  </ng-template>

  <ng-template #elseBlock>
    <p>Ojoj :(</p>
  </ng-template>

</article>
