<section>
  <article>

    <header class="search-header">
      <h1>SEARCH FOR NEY YORK TIMES ARTICLES ABOUT BOOKS!</h1>
      <p>All NYT articles about books in one place!</p>
    </header>

    <form class="search-form" [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)">
      <label class="search-input-label">
        <input class="search-input"
               formControlName="searchValue"
               type="text"
               maxlength="20"
               placeholder="{{searchForm.value.searchTarget | searchPlaceholder}}"/>
      </label>

      <div class="search-target-options">
        <label class="search-radio">
        <span class="search-radio-input">
          <input formControlName="searchTarget"
            type="radio" id="author"
            name="searchTarget"
            value="author">
          <span class="search-radio-control"></span>
        </span>
          <span class="search-radio-label">Author</span>
        </label>

        <label class="search-radio">
        <span class="search-radio-input">
          <input formControlName="searchTarget"
                 type="radio" id="isbn"
                 name="searchTarget"
                 value="isbn">
          <span class="search-radio-control"></span>
        </span>
          <span class="search-radio-label">ISBN Number</span>
        </label>

        <label class="search-radio">
        <span class="search-radio-input">
          <input formControlName="searchTarget"
                 type="radio"
                 id="title"
                 name="searchTarget"
                 value="title">
          <span class="search-radio-control"></span>
        </span>
          <span class="search-radio-label">Title</span>
        </label>
      </div>

      <button class="search-button"
              type="submit"
              [disabled]="searchForm.invalid"
              (click)="toResultScroll('result-indicator')">SEARCH</button>

    </form>

    <div id="result-indicator"></div>
  </article>

  <div *ngIf="start">
    <div *ngIf="articlesData[0] !== 'OK'; then loading else searchResult "></div>
  </div>

  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
  <ng-template #searchResult>
    <app-search-result [foundArticles]="foundArticles" [articlesData]="articlesData"></app-search-result>
  </ng-template>

</section>
