@import '../../../../styles';

.search-header {
  @include flexCenter;
  flex-direction: column;
  margin-top: 5%;
  height: 20vh;

  h1 {
    font-size: 2rem;

    @media screen and (max-width: 810px) {
      font-size: 1.6rem;
    }

    @media screen and (max-width: 660px) {
      font-size: 1.3rem;
    }

    @media screen and (max-width: 539px) {
      font-size: 1.1rem;
    }
  }

  p {
    @media screen and (max-width: 539px) {
      font-size: .9rem;
    }

    @media screen and (max-width: 280px) {
      font-size: .8rem;
    }
  }
}

.search-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  height: 40vh;
  text-align: left;
}

.search-input-label {
  width: 30%;
  height: 15%;
  min-height: 40px;

  @media screen and (max-width: 915px) {
    width: 40%;
  }

  @media screen and (max-width: 550px){
    width: 50%;
  }
}

.search-input {
  @include toParentSizer();
  background: $main-color;
  font-size: 1.6rem;
  text-align: center;

  @media screen and (max-width: 1100px){
    font-size: 1.4rem;
  }

  @media screen and (max-width: 690px) {
    font-size: 1.2rem;
  }

  &.search-input-border {
    border: none;
    border-bottom: 3px solid $accent-color;
  }

  &::placeholder {
    font-size: 1.1rem;

    @media screen and (max-width: 1100px){
      font-size: .9rem;
    }

    @media screen and (max-width: 690px) {
      font-size: .7rem;
    }
  }
}

.search-target-options {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 2%;

  &.search-target-options-size {
    width: 30%;
    height: 40%;
  }
}

.search-button {
  margin-top: 2%;
  padding: 0;

  &.search-button-font-size {
    font-size: 1.6rem;

    @media screen and (max-width: 870px) {
      font-size: 1.4rem;
    }

    @media screen and (max-width: 640px) {
      font-size: 1.2rem;
    }

    @media screen and (max-width: 530px) {
      font-size: 1rem;
    }

    @media screen and (max-width: 360px) {
      font-size: .8rem;
    }

    @media screen and (max-width: 280px) {
      font-size: .6rem;
    }
  }

  &.search-button-size {
    width: 20%;
    height: 15%;
    min-height: 30px;

    @media screen and (max-width: 360px) {
      height: 10%;
    }

    @media screen and (max-width: 280px) {
      height: 8%;
    }
  }

  &.search-button-color {
    background: inherit;
    color: $supplement-color;
  }

  &.search-button-border {
    border: none;
    cursor: pointer;
    transition: border-bottom .1s;

    &:hover {
      border-bottom: 2px solid $accent-color;
    }
  }
}
