@import "src/styles.scss";

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40vh;
  background: $supplement-color;

  @media screen and (max-width: 872px) {
    height: 30vh;
  }

  @media screen and (max-width: 593px) {
    height: 25vh;
  }
}

.header {
  display: flex;
  flex-direction: row;
  height: 80%;

  @media screen and (max-width: 354px) {
    flex-direction: column;
  }

  a {
    text-decoration: none;
  }

  h1 {
    color: $accent-color;
    font-size: 4.5rem;
    font-weight: 100;

    @media screen and (max-width: 872px) {
      font-size: 3rem;
    }

    @media screen and (max-width: 593px) {
      font-size: 1.8rem;
    }
  }
}

.logo {
  background: $main-color;
  mask-image: url("../../img/nyt-logo-v.svg");
  mask-repeat: no-repeat;
  mask-size: contain;

  &.logo-size {
    width: 600px;
    height: 100px;

    @media screen and (max-width: 872px) {
      width: 400px;
      height: 100px;
    }

    @media screen and (max-width: 593px) {
      width: 250px;
      height: 100px;
    }

    @media screen and (max-width: 354px) {
      height: 40px;
    }
  }
}

.menu {
  display: flex;
  justify-content: space-around;
  padding: 0;
  height: 20%;

  li {
    width: 50%;
    height: 100%;
  }

  a {
    @include toParentSizer;
    @include flexCenter;
    color: $main-color;
    text-decoration: none;
    transition: color .3s;

    &:hover {
      color: $accent-color;
    }
  }
}
