<section>
  <ul class="bestseller-list">
    <li class="list-position" *ngFor="let book of bestsellers">
      <div class="book-image" [ngStyle]="{'background-image': 'url(' + book.book_image + ')'}"></div>
      <article class="content">
        <div class="content-compose">
          <header class="content-header">
            <h1>{{book.rank}}</h1>
            <h2>{{book.title}}</h2>
            <p>Written by {{book.author}}</p>
          </header>
          <p>{{book.description}}</p>
          <span>{{book.publisher}}</span>
        </div>
      </article>
    </li>
  </ul>
</section>
