<section>
  <article>
    <header class="bestseller-header" *ngFor="let info of listInfo">
      <h1>{{info.list_name.toString().toUpperCase()}}</h1>
      <p>{{info.bestsellers_date}}</p>
    </header>

    <ul class="bestseller-list">
      <li class="list-position" *ngFor="let book of bestsellers">
        <div class="book-image" [ngStyle]="{'background-image': 'url(' + book.book_image + ')'}"></div>
        <div class="content">
          <div class="content-compose">
            <header class="content-header">
              <h1>{{book.rank}}</h1>
              <h2>{{book.title}}</h2>
              <p>Written by {{book.author}}</p>
            </header>
            <p>{{book.description}}</p>
            <span>{{book.publisher}}</span>
          </div>
        </div>
      </li>
    </ul>

  </article>
</section>
