@import 'src/styles.scss';

.bestseller-header {
  @include flexCenter;
  flex-direction: column;
  height: 30vh;

  h1 {
    font-size: 2.5rem;
  }
}

.bestseller-list {
  margin: 1% 2.5% 15% 2.5%;
  color: $supplement-color;
}

.bestseller-list-element {
  display: flex;
  flex-direction: row;
  margin-top: 1%;

  @media screen and (max-width: 760px) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

.bestseller-cover {
  background-size: cover;
  background-position: center;

  &.bestseller-cover-size {
    width: 331px;
    height: 500px;
    min-width: 331px;
    min-height: 500px;

    @media screen and (max-width: 390px) {
      width: 245px;
      height: 400px;
      min-width: 245px;
      min-height: 400px;
    }
  }
}

.filter-layer {
  @include toParentSizer;

  &:hover {
    backdrop-filter: brightness(.4) blur(4px);
  }
}

.buy-links {
  @include toParentSizer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  &.buy-links-visibility {
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  h1 {
    margin-top: 30%;
    font-size: 2.5rem;
    color: $main-color;
  }
}

.buy-links-list {
  margin-top: 10%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  a {
    text-decoration: none;
    font-size: 1.5rem;
    color: $accent-color;
    transition: color .2s;

    &:hover {
      color: $main-color;
    }
  }
}

.bestseller-info {
  display: flex;
  align-items: center;
  justify-content: space-around;

  &.bestseller-info-size {
    width: 70vw;

    @media screen and (max-width: 760px) {
      width: 85vw;
      height: 78vh;
    }

    @media screen and (max-height: 500px) {
      min-height: 425px;
    }
  }

  p {
    width: 50vw;

    @media screen and (max-width: 628px) {
      width: 80vw;
    }
  }
}

.bestseller-info-compose {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 1%;

  &.bestseller-info-compose-size {
    width: 80%;
    height: 75%;
  }

  &.bestseller-info-border {
    border-bottom: 1px solid $accent-color;
  }
}

.bestseller-card-header {
  @include flexCenter();
  flex-direction: column;

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-style: italic;
  }
}

.bestseller-rank {
  font-size: 1.3rem;
}

.bestseller-summary {
  font-size: 1.4rem;

  @media screen and (max-width: 900px) {
    font-size: 1.2rem;
  }

  @media screen and (max-width: 628px) {
    font-size: 1rem;
  }

  @media screen and (max-width: 390px) {
    font-size: .8rem;
  }
}

.bestseller-publisher {
  font-size: .8rem;
}

.bestseller-copyright {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 5vh;

  @media screen and (max-width: 620px) {
    height: 20vh;
  }

  @media screen and (max-width: 900px) {
    height: 10vh;
  }

  p {
    padding: .5%;
    font-size: .6rem;
  }
}
