@import "src/styles.scss";

.result-compose {
  margin-top: 5%;
  text-align: center;
  color: $supplement-color;
}

.articles-found-info {

  h1 {
    margin-bottom: .5%;
    font-size: 1.2rem;
    font-weight: 300;
  }
}

.result-article {
  @include flexCenter;
  flex-direction: column;
  height: 35vh;
  min-height: 280px;
  border-top: 1px solid $accent-color;

  &:last-child {
    border-bottom: 1px solid $accent-color;
  }

  @media screen and (max-width: 640px) {
    height: 45vh;
  }
}

.article-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.book-info {
  @include flexCenter;
  flex-direction: column;

  h1 {
    font-size: 2.4rem;

    @media screen and (max-width: 360px) {
      font-size: 1.2rem;
    }
  }

  p {
    font-size: .8rem;

    @media screen and (max-width: 360px) {
      font-size: .6rem;
    }
  }
}

.article-summary {
  width: 75%;

  @media screen and (max-width: 360px) {
    font-size: .8rem;
  }
}

.article-link-to {

  a {
    color: $supplement-color;
    transition: color .3s;

    @media screen and (max-width: 360px) {
      font-size: .7rem;
    }

    &:hover {
      color: $accent-color;
    }

    &:visited {
      color: $accent-color;
    }
  }
}

.result-copyright {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 45vh;

  p {
    padding: .5%;
    font-size: .6rem;
  }
}
