@import "src/styles.scss";

.result-compose {
  margin: 5% 0;
  text-align: center;
  color: $supplement-color;
}

.articles-found-info {

  h1 {
    margin-bottom: .5%;
    font-size: 1.2rem;
    font-weight: 300;
  }
}

.result {
  padding: 0;
  list-style-type: none;
}

.result-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;
  border-top: 1px solid $accent-color;

  &:last-child {
    border-bottom: 1px solid $accent-color;
  }
}

.article-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 2.4rem;
  }

  p {
    font-size: .8rem;
  }
}

.article-summary {
  width: 75%;
}

.article-link-to {

  a {
    color: $supplement-color;
    transition: color .3s;

    &:hover {
      color: $accent-color;
    }

    &:visited {
      color: $accent-color;
    }
  }
}
